@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');    /*400,700*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');           /*400*/

:root {
     --very-dark-blue: hsl(233, 47%, 7%);                     /* (main background) */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);               /* (card background)*/
    --Soft-violet: hsl(277, 64%, 61%);                         /* (accent)*/
    --White: hsl(0, 0%, 100%);                                 /* (main heading, stats)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);      /*(main paragraph)*/
    --Slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);     /*(stat headings)*/
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--very-dark-blue);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 530px;  
    height: 420px;
    background-color: rgb(146, 145, 145);
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-desaturated-blue);
}

.title {
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    width: 80%;
    margin: 4rem 1rem 0 4rem;
}

.description {
    font-family: 'Inter', sans-serif;
    color: var(--Slightly-transparent-white);
    margin: 1rem 6rem 1rem 4rem;
    line-height: 1.5rem;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    line-height: 0.4rem;
}

.stats .num-stat {
    font-size: 1.6rem;
    color: var(--White);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.stats p {
    color: var(--Slightly-transparent-white-2);
    font-size: 0.7rem;
    font-family: 'Lexend Deca', sans-serif;
    
}

.img-container {
    width: 510px;
    height: 420px;
}

.desk-img {
    width: 100%;
    height: 100%;
    
}